.toc li {
  list-style: none;
}
.toc ul {
  padding-left: 0px;
  font-weight: bold;
}
.toc ul ul {
  padding-left: 1em;
  font-weight: normal;
}
.toc li a {
  color: purple;
  padding: 2px 5px;
}

.toc li a:hover {
  border: solid black 2px;
  color: black;
}