form {
  padding: 15px;
  border-radius: 20px;
  border: 1px solid black;
}

form label {
  display: block;
  padding: 5px;
}

a {
  color: purple;
}

a:hover {
  border: solid purple 2px;
  color: purple;
  padding: 2px;
}