#profilbild {
  width: 150px;
  height: 225px;
  margin: 20px;
  margin-top: 60px;
}

.clear-float::after {
  content: "";
  display: block;
  clear: both;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.presentation {
  max-width: calc(90% - var(--profile-width));
  min-width: 150px;
}

.text {
  max-width: 400px;
  min-width: 150px;
  margin: 10px;
}

/* @media (max-width: 300px) {
  #profilbild {
    width: 80%;
    height: auto;
    float: none;
    display: block;
  }
} */