* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}
.aktiv{
  background-color: white;
  border-radius: 8px;
  border-top: solid 2px black;
  border-left: solid 2px black;
  font-weight: bold;
  padding: 5px;
}

a:hover {
  border-radius: 8px;
  border: solid purple 2px;
  color: purple;
  padding: 5px;
}
.skip-to-main {
  position: absolute;
  left: -1000px;
}

.skip-to-main:focus {
  padding: 5px;
  left: 15px;
  background-color: blue;
  color: white;
}

 .container {
  padding: 20px, 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text {
  margin: 20px 0;
}

@media only screen and (max-width: 0px) {
    .text {
    width: 100%;
  }
}

@media only screen and (min-width: 750px){
  .text {
    width: 45%;
  }
}

@media only screen and (max-width: 770px) {
  .text.many{
    width: 100%;
}
}

@media only screen and (min-width: 771px){
  .text.many {
    width: 44%;
  }
}

@media only screen and (min-width: 1000px){
  .text.many {
    width: 28%;
  }
}

.text.box {
  width: 100%;
}

.text.fill {
  flex-grow: 1;
  margin-right: 20px;
}

iframe {
  margin: 20px;
}


