

#profilbild {
  width: 150px;
  height: 225px;
  margin: 20px;
  /* margin-top: 60px; */
}

h1 {
  text-align: center;
}

.container {
  max-width: 1225px;
}

.clear-float::after {
  content: "";
  display: block;
  clear: both;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.presentation {
  max-width: calc(90% - var(--profile-width));
  min-width: 150px;
}

.text {
  max-width: 500px;
  min-width: 150px;
  margin: 10px;
}

/* @media (max-width: 300px) {
  #profilbild {
    width: 80%;
    height: auto;
    float: none;
    display: block;
  }
} */